@import "~src/styles/variables.scss";

.container {
  padding-top: 30px;
  padding-bottom: 100px;
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  .content {
    margin-right: 30px;
    flex: 1;
    .list {
      overflow: hidden;
      background-color: white;
      box-shadow: $box-shadow;
    }
  }
  .category {
    width: 270px;
    &_content {
      background-color: white;
      box-shadow: $box-shadow;
      &_title {
        padding-left: 15px;
        font-size: 14px;
        font-weight: bold;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid $color-border;
      }
      &_body {
        padding: 15px;
      }
    }
  }
}
